*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}
body{
	background: url('https://d39iwjsac1rghr.cloudfront.net/wysiwyg/TGV1021-CEL-Visuels-Carroussel_Accueil1.jpg') center;
	background-size: cover;
	min-height: 500px;
	font-family: 'Helvetica Neue', sans-serif;
}
nav{
	text-align: center;
}
.menu{
	display: inline-block;
}
.menu > li{
	float: left;
	color: #e298e1;
	width: 200px;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0, 0.7);
	cursor: pointer;
	font-size: 17px;
}
.sub-menu{
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
}
.sub-menu li{
	font-size: 14px;
	background: rgba(0,0,0, 0.8);
	padding: 8px 0;
	color: white;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	transform: scale(0);
	transform-origin: top center;
	transition: all 300ms ease-in-out;
}
.sub-menu li:last-child{
	border-bottom: 0;
}
.sub-menu li:hover{
	background: black;
}
.menu > li:hover .sub-menu li{
	transform: scale(1);
}
.menu > li:hover .sub-menu{
	transform: scale(1);
}
.sub-menu a{
	text-decoration: none;
}
