html, body {
	height: 98%;
}
.left_cell {
	background-color: #C3C682;
	border-right: 1px solid grey;
}
.right_cell {
	background-color: #F8C4B1;
}
.border {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-spacing: 0px;
	width: 100%;
	height: 100%;
}
